@import "tailwindcss";

@layer base {
  * {
    @apply border-neutral-200 dark:border-neutral-800;
  }

  body {
    @apply bg-neutral-50 text-neutral-900 dark:bg-neutral-950 dark:text-neutral-100;
  }
}
